<appSettings>
  <add key="IsCloudBased" value="false"/>
  <add key="CatalogUsername" value="admin"/>
  <add key="CatalogPassword" value="********"/>
  
  <add key="CatalogEvents" value="CheckinRuleApp"/>
  <add key="OnCheckinRuleApp" value="SaveToRepo"/>
  <add key="SaveToRepo.UploadTo" value="AzureDevOpsGit"/>
  <add key="SaveToRepo.NotificationChannel" value=""/>
  
  <add key="AzureDevOpsGit.Type" value="AzureGit"/>
  <add key="AzureDevOpsGit.Token" value="************************************************************************************"/>
  <add key="AzureDevOpsGit.Organization" value="InRuleDevOps"/>
  <add key="AzureDevOpsGit.Project" value="ROAD"/>
  <add key="AzureDevOpsGit.Repository" value="DevOpsTestRepo"/>
  <add key="AzureDevOpsGit.BranchPrefixFolder" value="inrule-devops"/>
  <add key="AzureDevOpsGit.Folder" value="DevOpsRuleApps"/>
  <add key="AzureDevOpsGit.TestSuitesPath" value="TestSuites"/>
</appSettings>